{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}
تقاضای بازیابی رمز فرستاده شده
{% endblock %}{% endblock %}
{% block main %}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">تقاضای بازیابی رمز فرستاده شده</h3>
      </div>
        <div class="card-body">
                <p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

                    اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</p>
        </div>
</div>
</div>
{% endblock %}

